<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="res_config_settings_view_form_ticketing" model="ir.ui.view">
        <field name="name">
            res.config.settings.view.form.inherit.contact.contract
        </field>
        <field name="model">res.config.settings</field>
        <field name="priority" eval="15"/>
        <field name="inherit_id" ref="base.res_config_settings_view_form"/>
        <field name="arch" type="xml">
            <xpath expr="//form" position="inside">
                <app data-string="Workflow" string="Workflow" name="ss_workflow">
                    <block title="About">
                        <div>
                            <p>Spring Solution Workflow 2026</p>
                            <p>Version 0.2</p>
                        </div>
                    </block>
                </app>
            </xpath>
        </field>
    </record>

    <record id="ss_workflow.res_config_settings_action" model="ir.actions.act_window">
        <field name="name">Configuration</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.config.settings</field>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
        <field name="context">{'module' : 'ss_workflow'}</field>
    </record>


</odoo>
